/* RESET */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}




/* GENERAL */

.container{
    max-width: 1200px;
    margin: 0 auto;
}

            /* MAIN */

/* SECTION 1 */
main{
    height:calc(100vh - 60px) ;
    background-color: black;
    overflow: hidden;
}




.row{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    
    
}

.col > span{
    color: white;
    font-size: 1.0em;
    background-color: #4A4A4A;
    width: calc(100% / 2);
    margin-right:  10px;
    padding: 5px;
    border-radius: 5px;
}
    
    


i{
    color: white;
}



/* SECTION 2 */
.my-row{
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
    margin-top: 30px;
}

.video{

    background-image: url(https://picsum.photos/200/300);
    width: calc((100% / 6) - 10px);
    height: calc(100vh / 6);
    margin: 5px;
    position: relative;
} 

.video > div{
    position: absolute;
    bottom:0;
    left:0;
    background-color:rgba(0,0,0,0.5); 
    color: white;
    font-size: small;
    padding: 5px;

}
    
    
   
/* FOOTER */

footer{
    height: 60px;
    background-color: #222222;
}
    
    
    
    
    

